<header class="header">
  <div class="container-wide">
    <div class="header__wrapper">
      <a href="#" class="logo">Brand</a>
      <div class="nav__wrap">
        <nav class="nav">
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a href="#" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">World</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Tech</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Health</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Sport</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="btn"
          >Buy now
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 12.5H19"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 5.5L19 12.5L12 19.5"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="burger">
          <div class="burger__line"></div>
      </div>
    </div>
  </div>
</header>
